# Created by .ignore support plugin (hsz.mobi)
/.idea
/target
/libs/
/data/
/1.JPG
/ER(parking-around).jpg
/2.JPG
/5.JPG
/4.JPG
/3.JPG
/parking-backend/parking-backend.iml
/parking-frontend/nodejs/
/parking-frontend/node_modules/
